.site {
    max-width: var(--layout-main-width);
    margin: 0 auto;

    @include  bp(laptop) {
        &-header {
            display: flex;
        }

        &-nav {
            margin-left: auto;
        }
    }
}